<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DC Shop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{ctrl.cart.length || 0}} - Items<span ng-show="ctrl.cart.length" class="caret"></span></a>
          <ul uib-dropdown-menu class="dropdown-menu dropdown-cart" role="menu" ng-show="ctrl.cart.length">
              <li ng-repeat="product in ctrl.cart">
                  <span class="item">
                    <span class="item-left">
                        <img ng-src="{{product.image}}" height="50" alt="" />
                        <span class="item-info">
                            <span>{{product.name}}</span>
                            <span>${{product.price}}</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right" ng-click="ctrl.removeFromCart(product.id)">x</button>
                    </span>
                </span>
              </li>
              <li class="divider"></li>
              <li><a class="text-center" ui-sref="cart">View Cart</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>